*{
    font-family: Arial, Helvetica, sans-serif;
}

.legend-key-hate, .list-key-hate {
    height: 15px;
    width: 15px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
}

.legend-key-offensive, .list-key-offensive {
    height: 15px;
    width: 15px;
    background-color: #ffd500;
    border-radius: 50%;
    display: inline-block;
}

.legend-key-good, .list-key-good {
    height: 15px;
    width: 15px;
    background-color: #00ff11;
    border-radius: 50%;
    display: inline-block;
}

.list-key-hate {
    height: 20px;
    width: 20px;
}

.list-key-offensive {
    height: 20px;
    width: 20px;
}


.list-key-good {
    height: 20px;
    width: 20px;
}