.App {
    text-align: center;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

.icon {
    margin-right: 10px;
    font-size: 20px;
    pointer-events: none;
    color: azure;
}

/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */

.App-header {
    min-height: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-center {
    min-height: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: black;
}

.App-footer {
    min-height: 34vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: black;
}

.topRightImage {
    position: fixed; /* Fixed position so it stays in place */
    top: 1cm; /* Position at the top of the page */
    right: 1cm; /* Position at the right of the page */
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
